In [1]:
import pandas as pd

In [2]:
data = pd.read_csv("Vine_Table.csv")

In [3]:
data.head()

,review_id,star_rating,helpful_votes,total_votes,vine,verified_purchase
0,R1KKOXHNI8MSXU,4.0,0.0,0.0,N,Y
1,R26SP2OPDK4HT7,5.0,1.0,2.0,N,Y
2,RWQEDYAX373I1,5.0,0.0,0.0,N,Y
3,R231YI7R4GPF6J,5.0,0.0,0.0,N,Y
4,R3KO3W45DD0L1K,5.0,0.0,0.0,N,Y

In [4]:
data_greater_than_20 = data[data["total_votes"] >= 20]

In [5]:
data_greater_than_50 = data_greater_than_20[(data_greater_than_20["helpful_votes"]/data_greater_than_20["total_votes"]) >= 0.5]

In [6]:
len(data_greater_than_20)

46909

In [7]:
len(data_greater_than_50)

45421

In [8]:
vine_Y = data_greater_than_50[data_greater_than_50["vine"] == "Y"]

In [9]:
len(vine_Y)

33

In [10]:
# vine_Y.head()

In [11]:
vine_Y_5_Star = vine_Y[vine_Y["star_rating"] == 5.0]
# vine_Y_5_Star.head()

In [12]:
vine_Y_paid = vine_Y_5_Star[vine_Y_5_Star["verified_purchase"] == "Y"]
vine_Y_5_star_unpaid = vine_Y_5_Star[vine_Y_5_Star["verified_purchase"] == "N"]

In [13]:
vine_N = data_greater_than_50[data_greater_than_50["vine"] == "N"]

In [14]:
len(vine_N)

45388

In [15]:
# vine_N.head()

In [16]:
vine_N_5_Star = vine_N[vine_N["star_rating"] == 5.0]
# vine_N_5_Star.head()

In [17]:
vine_N_paid = vine_N_5_Star[vine_N_5_Star["verified_purchase"] == "Y"]
vine_N_5_star_unpaid = vine_N_5_Star[vine_N_5_Star["verified_purchase"] == "N"]

In [18]:
vine_N_paid.head()

,review_id,star_rating,helpful_votes,total_votes,vine,verified_purchase
406,R2SMUEBMGLAJQK,5.0,29.0,36.0,N,Y
408,R1XVIZZALU5P6J,5.0,148.0,150.0,N,Y
701,R1P0LEEJHH09L3,5.0,32.0,32.0,N,Y
749,R1V6UU1EHW3Q12,5.0,57.0,62.0,N,Y
823,R230W87COFSTCL,5.0,21.0,21.0,N,Y

In [23]:
comparision_data = {"Vine Reviewed": ["Vine: Y", "Vine: N"],
                    "Total Reviews": [len(vine_Y), len(vine_N)], 
                    "Number of 5-Star Reviews": [len(vine_Y_5_Star), len(vine_N_5_Star)],
                    "Number of 5-Star Paid Reviews": [len(vine_Y_paid), len(vine_N_paid)], 
                    "Number of 5-Star Unpaid Reviews": [len(vine_Y_5_star_unpaid), len(vine_N_5_star_unpaid)],
                    "Percentage of 5-Star Reviews for Paid": [(len(vine_Y_paid)/len(vine_Y))*100, (len(vine_N_paid)/len(vine_N))*100], 
                    "Percentage of 5-Star Reviews for Unpaid": [(len(vine_Y_5_star_unpaid)/len(vine_Y))*100, (len(vine_N_5_star_unpaid)/len(vine_N))*100]
}

In [24]:
pd.DataFrame(comparision_data)

,Vine Reviewed,Total Reviews,Number of 5-Star Reviews,Number of 5-Star Paid Reviews,Number of 5-Star Unpaid Reviews,Percentage of 5-Star Reviews for Paid,Percentage of 5-Star Reviews for Unpaid
0,Vine: Y,33,15,0,15,0.000000,45.454545
1,Vine: N,45388,23733,19281,4452,42.480391,9.808760